.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}

/* Make the logo itself bigger */
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 3rem !important;
    width: auto !important;
}
